.header {
  height: 119px;
  max-width: 918px;
  box-sizing: border-box;
  padding: 0 19px;
  margin: 0 auto 37px auto;
  padding-top: 45px;
  border-bottom: solid 1px #545454;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:319px) {
  .header {
    padding: 28px 0 0 0;
  }
}
