.profile__edit-pen {
  background-image: url(../../../images/edit-pen.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 1);
  width: 120px;
  height: 120px;
  position: absolute;
  opacity: 0;
  transition: opacity .25s ease, background-color .25s ease;
}

.profile__edit-pen:hover {
  background-color: rgba(0, 0, 0, .8);
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .profile__edit-pen {
    left: 50%;
    transform: translate(-50%);
  }
}
