.profile {
  max-width: 918px;
  width: 100%;
  padding: 0 19px;
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  display: flex;
  margin-bottom: 51px;
  position: relative;
}

@media screen and (max-width:768px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }
}

@media screen and (max-width:320px) {
  .profile {
    max-width: 320px;
    padding: 0;
  }
}
