.profile__subtitle {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21.78px;
  padding-bottom: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 562px;
}

@media screen and (max-width:940px) {
  .profile__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width:768px) {
  .profile__subtitle {
    margin-bottom: 36px;
    padding-bottom: 0;
    box-sizing: border-box;
    text-align: center;
  }
}
