.profile__info {
  max-width: 562px;
  width: 100%;
  min-height: 73px;
  padding-top: 22px;
}

@media screen and (max-width:940px) {
  .profile__info {
    max-width: 400px;
  }
}

@media screen and (max-width:768px) {
  .profile__info {
    max-width: 282px;
    margin: 0 auto 0 auto;
    padding-top: 22.25px;
  }
}
