.popup__inner {
  max-width: 430px;
  margin: 0 auto;
  width: 100%;
  min-height: 181px;
  background-color: #fff;
  color: black;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 2;
  position: relative;
}

@media screen and (max-width:640px) {
  .popup__inner {
    max-width: 282px;
    min-height: 322px;
  }
}
