.auth__input {
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #CCC;
  background-color: transparent;
  max-width: 358px;
  width: 100%;
  min-height: 27px;
  margin: 25px 0 5px;
  padding: 0;
  color: white;
}

.auth__input:focus {
  outline: 0;
}
